<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img
      alt="Maxwell's Promotions"
      class="img-logo"
      src="http://react.artifi.net/assets/images/7758e93c-21c1-4828-98ce-ab219d18c4a1maxwell-logo.png"
    />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor02"
    aria-controls="navbarColor02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <form class="form-inline mr-auto">
      <input
        class="form-control mr-sm-4"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
    <ul class="navbar-nav align-item-center">
      <li class="nav-item">
        <a class="nav-link" href="#">Scan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Quick Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <button class="btn btn-success my-2 my-sm-0" type="submit">
            CART | 0 ITEMS
          </button>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <span class="navbar-brand mb-0 h1 ml-4 fs-16">SHOP DEPARTMENTS</span>
</nav>
<nav class="navbar navbar-expand-lg navbar-custom">
  <span class="navbar-brand mb-0 ml-4">Kangaroo Bookcase </span>
</nav>
