<div class="card">
  <div class="card-header">Add images</div>
  <div class="card-body max-height p-3">
    <ul class="gallery">
      <li
        *ngFor="let clipArt of clipArtsArr"
        (click)="clipArtSelectedHnd(clipArt.code)"
        [ngClass]="{ selected: selectedClipArt === clipArt.code }"
      >
        <a href="#" class="thumbnail"
          ><img
            class="img-responsive"
            [src]="clipArt.path"
            [alt]="clipArt.code"
        /></a>
      </li>
    </ul>
  </div>
</div>
