<div class="card">
  <div class="card-header">Add images</div>
  <div class="card-body max-height">
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/pikachu.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/squirtle.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/bullbasaur.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/charmander.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/bellsprout.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/caterpie.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/dratini.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/eevee.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/jigglypuff.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/mankey.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/meowth.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/pidgey.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/psyduck.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/rattata.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/abra.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/snorlax.svg"
    />
    <img
      class="images-item"
      (click)="getImgPolaroid($event)"
      src="assets/img/zubat.svg"
    />
  </div>
</div>
