.thumbnail {
  width: 65px;
  height: 65px;
  display: inline-block;
  list-style: none;
  margin: 0 10px 10px 0;
  padding: 10px;
  border: 2px solid #002954;
  border-radius: 5px;
}

.thumbnail img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.max-height {
  overflow: auto;
  max-height: 70px;
  overflow: hidden;
}
