.custom-item .custom-item-title {
  color: #666666;
  font-weight: 600;
}

.custom-item .custom-item-body {
  padding: 5px 0;
}

.btn-group .btn-primary.active {
  background-color: #002954 !important;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #007bff;
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: #002954;
}
.slider::-moz-range-thumb:hover {
  background: #002954;
}
