<div class="card">
  <div class="card-header">
    Text
    <div class="float-right d-none">
      <div class="input-group">
        <select
          [(ngModel)]="selectedObjectId"
          *ngIf="objectsArr.length !== 0"
          class="mr-2 form-control-sm select-width"
        >
          <option *ngFor="let object of objectsArr" [value]="object.id">{{
            object.value
          }}</option>
        </select>
        <div>
          <button class="btn btn-primary btn-sm" (click)="addObject()">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body pt-2 pb-2">
    <div
      *ngIf="objectsArr.length === 0"
      class="alert alert-warning"
      role="alert"
    >
      Please add any object from above!
    </div>
    <div *ngIf="objectsArr.length !== 0" class="custom-item">
      <div class="custom-item-title">Text:</div>
      <div class="custom-item-body">
        <input
          type="text"
          class="form-control"
          (input)="setText()"
          [(ngModel)]="textProps.text"
        />
      </div>
    </div>
    <div *ngIf="objectsArr.length !== 0" class="custom-item">
      <div class="custom-item-title">Styling:</div>
      <div class="custom-item-body">
        <div class="form-row">
          <div class="col-6">
            <select
              [(ngModel)]="textProps.fontFamily"
              class="form-control"
              (change)="setFontFamily()"
            >
              <option
                *ngFor="let fontFamily of fontFamilyArr"
                [value]="fontFamily.code"
                >{{ fontFamily.value }}</option
              >
            </select>
          </div>
          <div class="col-3 text-center">
            <div class="btn-group" role="group">
              <button
                type="button"
                class="btn btn-primary"
                [ngClass]="{
                  active: isBold()
                }"
                (click)="setBold()"
              >
                <i class="fa fa-bold"></i>
              </button>
              <button
                type="button"
                class="btn btn-primary"
                [ngClass]="{ active: isItalic() }"
                (click)="setFontStyle()"
              >
                <i class="fa fa-italic"></i>
              </button>
            </div>
          </div>
          <div class="col-3">
            <input
              type="text"
              class="form-control"
              [cpPosition]="'top'"
              [(colorPicker)]="textProps.fill"
              [style.background]="textProps.fill"
              [value]="textProps.fill"
              (cpSliderDragEnd)="setFill()"
            />
          </div>
        </div>
        <div class="form-group row mt-1">
          <label for="fontSize" class="col-4 col-form-label custom-item-title"
            >Text size: ({{ textProps.fontSize }})</label
          >
          <div class="col-8 pl-0 mt-2 text-center">
            <input
              type="range"
              id="fontSize"
              [(ngModel)]="textProps.fontSize"
              class="slider"
              (mouseup)="setFontSize()"
              step="1"
              min="10"
              max="120"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
