<div class="container-fluid p-0">
  <app-header></app-header>
</div>
<div class="container p-2 pt-5">
  <div class="row">
    <div class="col-md-7">
      <three-d-preview></three-d-preview>
    </div>
    <div class="col-md-5">
      <div class="row mb-2">
        <div class="col-md-12">
          <app-options></app-options>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <app-image></app-image>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <upload-image></upload-image>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
