<div class="container p-2">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h3>Get Image component goes here..</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Product views component goes here..</h3>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="row mb-2">
        <div class="col-md-12">
          <app-options></app-options>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md-12">
          <app-image></app-image>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <app-text-box></app-text-box>
        </div>
      </div>
    </div>
  </div>
</div>
