<div class="container p-2">
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <h3>Get Image component goes here..</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Product views component goes here..</h3>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card mb-2">
        <div class="card-header">T-shirt color</div>
        <div class="card-body">
          <h3>Product options component goes here</h3>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-header">Add images</div>
        <div class="card-body max-height">
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/pikachu.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/squirtle.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/bullbasaur.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/charmander.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/bellsprout.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/caterpie.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/dratini.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/eevee.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/jigglypuff.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/mankey.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/meowth.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/pidgey.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/psyduck.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/rattata.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/abra.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/snorlax.svg"
          />
          <img
            class="images-item"
            (click)="getImgPolaroid($event)"
            src="assets/img/zubat.svg"
          />
        </div>
      </div>
      <div class="card">
        <div class="card-header">Text Properties</div>
        <div class="card-body">
          <div class="custom-item">
            <div class="custom-item-title">Text</div>
            <div class="custom-item-body">
              <input
                type="text"
                class="form-control"
                (input)="setText()"
                [(ngModel)]="props.text"
              />
            </div>
          </div>
          <div class="custom-item">
            <div class="custom-item-title">Styling</div>
            <div class="custom-item-body">
              <div class="form-row">
                <div class="col-6">
                  <select
                    [(ngModel)]="props.fontFamily"
                    class="form-control"
                    (change)="setFontFamily()"
                  >
                    <option value="">Select Font Family</option>
                    <option value="arial">Arial</option>
                    <option value="helvetica">Helvetica</option>
                    <option value="verdana">Verdana</option>
                    <option value="courier">Courier</option>
                    <option value="Roboto">Roboto</option>
                    <option value="Open Sans">Open Sans</option>
                    <option value="Zilla Slab">Zilla Slab</option>
                    <option value="Lato">Lato</option>
                    <option value="Bellefair">Bellefair</option>
                    <option value="Fresca">Fresca</option>
                    <option value="Raleway">Raleway</option>
                    <option value="Open Sans Condensed"
                      >Open Sans Condensed</option
                    >
                    <option value="Indie Flower">Indie Flower</option>
                    <option value="Josefin Sans">Josefin Sans</option>
                    <option value="Inconsolata">Inconsolata</option>
                    <option value="Pacifico">Pacifico</option>
                    <option value="Gloria Hallelujah">Gloria Hallelujah</option>
                  </select>
                </div>
                <div class="col-3 text-center">
                  <div class="btn-group" role="group">
                    <button
                      type="button"
                      class="btn btn-primary"
                      [ngClass]="{ active: props.fontWeight }"
                      (click)="setBold()"
                    >
                      <i class="fa fa-bold"></i>
                    </button>
                    <button
                      type="button"
                      class="btn btn-primary"
                      [ngClass]="{ active: props.fontStyle }"
                      (click)="setFontStyle()"
                    >
                      <i class="fa fa-italic"></i>
                    </button>
                  </div>
                </div>
                <div class="col-3">
                  <input
                    type="text"
                    class="form-control"
                    [cpPosition]="'bottom'"
                    [(colorPicker)]="props.fill"
                    [style.background]="props.fill"
                    [value]="props.fill"
                    (cpSliderDragEnd)="setFill()"
                  />
                </div>
              </div>
              <div class="form-group row mt-1">
                <label for="fontSize" class="col-4 col-form-label"
                  >Font size: ( {{ props.fontSize }} )</label
                >
                <div class="col-8 mt-2 text-center">
                  <input
                    type="range"
                    id="fontSize"
                    [(ngModel)]="props.fontSize"
                    class="slider"
                    (mouseup)="setFontSize()"
                    step="1"
                    min="10"
                    max="120"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
